<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OPORD-QJM Scenario Selection</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
</head>
<body>
    <div class="navbar bg-base-100 justify-between">
        <a class="btn btn-ghost text-xl">OPORD-QJM Scenario Selection</a>
        <a class="btn btn-neutral text-xl" href="./load_scenario_state">Load Saved Scenario</a>
    </div>
    <div class="md:container md:mx-auto px-4 grid grid-cols-2 gap-4">
        <!-- This will be a template for what the scnario cards will be like -->
        <div class="card card-compact bg-primary-content w-96 shadow-xl">
            <figure>
                <img
                src="https://i.redd.it/ydxl0ydzqgt71.png"
                alt="Brüderkrieg" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Brüderkrieg</h2>
                <p>8. Mot.Schützendivision attacks through the Lübeck canal.</p>
                <div class="card-actions justify-end">
                <a class="btn btn-primary" href="./load_scenario/bruderkrieg">Load</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>